*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
input{
    outline:none;
}
@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat-Bold.ttf);
    font-weight: 700;
}
@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat-SemiBold.ttf);
    font-weight: 600;
}
@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat-Medium.ttf);
    font-weight: 500;
}
.container{
    max-width: 1490px;
    margin: 0 auto;
}
.header{
    margin-top: 14px;
    &__links-info{
        display: flex;
        justify-content: space-between;
    }
    &__logo{
        cursor: pointer;
    }
    &__item{
        display: flex;
        gap: 31px;
        color: #606060;
    }
    &__info{
        display: flex;
        gap: 40px;
        font-size: 16px;
    }
    &__city{
        display: flex;
    }
    &__btns-search{
        display: flex;
        align-items: center;
        gap: 30px;
        margin-top: 24px;
    }
    &__mail{
        color: #606060;
        font-weight: 600;
    }
    &__moscow{
        color: #63BEAF;
    }
    &__link{
        font-weight: 500;
        font-size: 16px;
        color: #606060;
    }
    &__btn{
        background-color: #63BEAF;
        border: 0;
        color: #ffff;
        border-radius: 7px;
        padding: 16px 40.5px 16px 40.5px;
        font-size: 16px;
    }
    &__input{
        font-size: 16px;
        height: 46px;
        width: 722px;
        border-radius: 7px;
        border: 3px solid #63BEAF;
    }
    &__search-img{
        background-color: #63BEAF;
        border: 0;
        padding-bottom: 14px;
    }
    &__form{
        display: flex;
        align-items: center;
        gap: 30px;
    }
}
.section{
    &__flex{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
    &__block3{
        &__box{
            max-width: 550px;
        }
    }
}
.feedback{   
    
    &__flex{
        display: flex;
        justify-content: space-between;
        @media(max-width:499px){
            display: block;
        }
    }
    &__subtitle{
        @media(max-width:499px){
            margin-top: 135px;
        }
    }
    &__block{
        max-width: 387px;
    }
    &__title{
        margin-bottom: 31px;
    }
    &__name{
        margin-top: 8px;
        margin-bottom: 9px;
    }
    &__main-text{
        margin-top: 11px;
        @media(max-width:499px){
            margin-bottom: 40px;
        }
    }
    &__main-text0{
        @media(max-width:499px){
            margin-bottom: 169px;
        }
    }
}
.footer{
    margin-top: 150px;
    margin-bottom: 200px;
    &__flex{
        display: flex;
        gap: 200px;
    }
    &__flex-title{
        color: #E38C56;
        font-size: 15px;
    }
    &__flex-number{
        display: flex;
        align-items: top;
        gap: 10px;
        margin-bottom: 15px;
    }
    &__flex-num_link{
        color: #312E2B;
    }
    &__text{
        margin-left: 215px;
        margin-top: 14px;
        margin-bottom: 10px;
        color: #ADADAD;
    }
    &__flex-title{
        margin-bottom: 24px;
    }
}
.section{
    &__block1__title{
        font-size: 32px;
        font-weight: 600;
        color: #606060;
        margin-bottom: 50px;
        margin-top: 200px;
    }
    &__block1__undertitle{
        font-size: 20px;
        font-weight: 500;
    }
    &__block1__btn{
        background-color: #63BEAF;
        border: 0;
        color: #ffff;
        border-radius: 7px;
        padding: 16px 40.5px 16px 40.5px;
        font-size: 16px;
        margin-top: 45px;
        margin-bottom: 100px;
    }
    &__block2{
        &__title{
            font-size: 32px;
            font-weight: 600;
            color: #606060;
            margin-bottom: 50px;
            margin-top: 200px;
        }
        &__text{
            font-size: 20px;
            font-weight: 500;
            margin-bottom: 20px;
        }
    }
    &__block3{
        &__title{
            margin-top: 45px;
            font-size: 32px;
            font-weight: 600;
            color: #606060;
            margin-bottom: 10px;
        }
        &__text{
            font-size: 20px;
            font-weight: 600;
            color: #606060;
            margin-bottom: 10px;
        }
        &__number{
            margin-bottom: 30px;
        }
    }
}
.section2{
    &__block1{
        &__flex{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
        }
        &__title{
            margin-top: 45px;
            font-size: 32px;
            font-weight: 600;
            color: #606060;
            margin-bottom: 30px;
        }
        &__text{
            font-size: 22px;
            font-weight: 600;
        }
        &__bottom-text{
            font-size: 18px;
            font-weight: 500;
            margin-top: 10px;
            margin-bottom: 10px;
        }    
    }
}
.feedback{
    &__title{
        margin-top: 45px;
        font-size: 32px;
        font-weight: 600;
        color: #606060;
        margin-bottom: 30px;
        }
    &__flex{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    &__box1{
        max-width: 350px;
    }
    &__title2{
        margin-bottom: 10px;
    }
    &__btn{
        margin-top: 40px;
        background-color: #606060;
        border: 0;
        color: #ffff;
        padding: 16px 40.5px 16px 40.5px;
        font-size: 16px;
    }
}